*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2{
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    background-color: var(--pink-2);
}
  
:root {
    --pink-1:#FDE9ea;
    --pink-2: #ffddd6;
    --pink-3: #f1b6ac;
    --green-1:#ACD1AF;
    --green-2:#ACD1C2;
    --green-3:#BCD1AC;
}

.logo{
    height: 30px;
    width: auto;
}

div{
    background-color: var(--green-3);
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: "Palanquin", sans-serif;
    padding-left: 30px;
}

h3{
    color: white;
    font-weight:bold;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

@media screen and (min-width: 600px) {
    article img {
      float: right;
      width: 50%;
    }
  }

nav a{
    color: black;
    text-decoration: none;
}

nav ul li{
    background: var(--pink-3);
    list-style: none;
    font-size: 20px;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    margin: 3px;
}
  
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}